# Node modules
node_modules/
dist/
.env

# Java/Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/*.jar
!**/src/test/resources/*.jar

# IDEs
.idea/
.vscode/
*.swp
*.iml
.DS_Store

# Logs
*.log
